#news {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	font-size: 10vw;
	perspective: 600px;

	ul {
		display: flex;
		width: 100%;

		li {
			.pic {
				width: 50px;
				height: 50px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	article {
		width: 15%;
		min-height: 180px;
		border: 1px solid #888;
		padding: 20px;
		margin: 10px;
		transform: translateY(100px) rotateY(180deg);
		opacity: 0;
		transition-duration: 0.5s;

		@for $i from 0 to 4 {
			&:nth-of-type(#{$i + 1}) {
				transition-delay: 0.2s * $i;
			}
		}

		h2 {
			font: 16px/1 'arial';
			color: #444;
			margin-bottom: 20px;
		}
		p {
			font: 12px/1.2 'arial';
			color: #777;
		}
	}

	&.on {
		article {
			transform: translateY(0px) rotateY(0deg);
			opacity: 1;
		}
	}
}

@media screen and (max-width: $tablet) {
	#news {
		padding: 0px 30px;
		justify-content: space-between;

		article {
			width: 48%;
			margin: 0px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: $mp) {
	#news {
		article {
			width: 100%;
		}
	}
}
