#news {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	font-size: 10vw;

	article {
		width: 15%;
		min-height: 180px;
		border: 1px solid #888;
		padding: 20px;
		margin: 10px;

		h2 {
			font: 16px/1 'arial';
			color: #444;
			margin-bottom: 20px;
		}
		p {
			font: 12px/1.2 'arial';
			color: #777;
		}
	}
}

@media screen and (max-width: $tablet) {
	#news {
		padding: 0px 30px;
		justify-content: space-between;

		article {
			width: 48%;
			margin: 0px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: $mp) {
	#news {
		article {
			width: 100%;
		}
	}
}
