#pics {
	width: 100%;
	height: 100vh;
	background: lightgreen;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	color: #555;
	position: relative;
	overflow: hidden;

	p {
		font: bold 200px/1 'arial';
		color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 100px;
		left: 0px;
	}
}
