#vids {
	width: 100%;
	height: 100vh;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #555;
	padding: 0;
	position: relative;

	.swiper {
		height: 100%;
		padding: 200px 0px;
		//overflow: visible;

		.swiper-slide {
			width: 100%;

			.inner {
				width: 100%;
				height: 100%;
				background: aqua;
				opacity: 0.5;
				transform: scale(0.8);
				transition: opacity 0.5s, transform 0.5s;

				.pic {
					width: 100%;
					height: 100%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			&.swiper-slide-active .inner {
				opacity: 1;
				transform: scale(1);
			}
		}

		.swiper-button-next {
			top: auto;
			bottom: 4vh;
			right: 5vw;
			transform: scale(0.6);
			filter: brightness(4) saturate(0);
		}
		.swiper-button-prev {
			top: auto;
			bottom: 4vh;
			left: auto;
			right: calc(5vw + 50px);
			transform: scale(0.6);
			filter: brightness(4) saturate(0);
		}

		.swiper-pagination {
			width: auto;
			height: auto;
			left: 50%;
			bottom: 50px;
			transform: translateX(-50%);

			.swiper-pagination-bullet {
				background: #fff;
				opacity: 0.7;
				border-radius: 4px;
				transition: width 0.5s;
			}
			.swiper-pagination-bullet-active {
				width: 100px;
				opacity: 1;
				background: aqua;
			}
		}
	}

	.cursor {
		width: 50px;
		height: 50px;
		background: #fff;
		position: fixed;
		border-radius: 50%;
		top: -99999px;
		left: 0;
		z-index: 5;
		transform: translate(-50%, -50%);
		pointer-events: none;
		mix-blend-mode: difference;
		transition: transform 0.3s;
	}
}
